.banner{
    display: flex;
    justify-content: center;
}
table{
    margin-top: 25%;
    border-collapse:collapse;
    border: 5px solid gray;
    text-align: center;
}
.clock{
    background-color: black;
    padding:0 10px;
    width: 250px;
}
.message{
    font-size: 30px;
    width: 500px;
}