*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;

}

main{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: blue;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

table, tr, td{
	border: 0.5px solid #000;
}

table{
	width: 500px;
	border-collapse: collapse;
}

tr, td{
	height: 30px;
	color: yellowgreen;
}